body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex {
  display: flex;
}

.mt-0 {
  margin-top: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.mt-1 {
  margin-top: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.mt-6 {
  margin-top: 6rem;
}

.pt-6 {
  padding-top: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.main-header {
  font-size: 15px;
}
.main-header .overall {
  background: #0282f9;
  font-size: 11px;
  text-align: right;
}
.main-header .overall .container a {
  font-weight: 700;
  margin-left: 50px;
}
.main-header .container {
  justify-content: space-between;
  padding: 10px;
}
.main-header .container .navbar-brand img {
  width: 80px;
  vertical-align: middle;
}
.main-header .container .navbar-nav {
  justify-content: space-between;
  padding: 20px 0;
}
.main-header .container .navbar-nav li {
  margin: 0 14px;
}
.main-header .container .navbar-nav li a {
  color: #464646;
  font-weight: 700;
}
.main-header .container .navbar-nav li a i {
  color: #0282f9;
  margin-left: 3px;
}
.main-header .container .search {
  color: #464646;
  border-bottom: 3px solid #0282f9;
  padding: 35px 0 20px;
  height: 0;
}
.main-header .container .search input {
  border: none;
  width: 90px;
  text-align: right;
}
.main-header .container .search input::-moz-placeholder {
  font-size: 16px;
  color: #000000;
  font-weight: 700;
}
.main-header .container .search input:-ms-input-placeholder {
  font-size: 16px;
  color: #000000;
  font-weight: 700;
}
.main-header .container .search input::placeholder {
  font-size: 16px;
  color: #000000;
  font-weight: 700;
}

.main-footer {
  background-image: url("../images/footer-bg.jpg");
  background-size: cover;
  background-position: left;
  padding: 25px 0;
  overflow: hidden;
}
.main-footer .container {
  justify-content: space-between;
}
.main-footer .container .footer-left {
  width: 45%;
}
.main-footer .container .footer-left .footer-columns > div {
  margin-right: 30px;
}
.main-footer .container .footer-left .footer-columns h3 {
  font-weight: 700;
}
.main-footer .container .footer-left .footer-columns ul {
  padding-left: 0;
}
.main-footer .container .footer-left .footer-columns ul a {
  font-size: 12px;
  color: #959595;
  text-transform: none;
}
.main-footer .container .footer-left .copyright p {
  color: #959595;
  font-size: 12px;
}
.main-footer .container .footer-left .copyright p a {
  color: #0282f9;
  font-size: 12px;
  text-transform: none;
}
.main-footer .container .footer-right {
  position: relative;
  width: 40%;
}
.main-footer .container .footer-right img {
  position: absolute;
  right: 0;
  bottom: -100px;
}

.social {
  background: #303030;
  padding: 50px 0 35px;
}
.social .social-box {
  justify-content: space-between;
}
.social .social-box .social-left a {
  font-weight: bold;
  padding: 15px 10px;
  border: 2px solid #0282f9;
}
.social .social-box .social-right a {
  color: #0282f9;
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}
.social .social-box .social-right ul {
  margin: 0;
  padding-left: 10px;
}
.social .social-box .social-right ul li {
  margin-left: 20px;
}
.social .social-box .social-right ul li a {
  color: #303030;
  font-size: 25px;
}
.social .social-box .social-right ul li a i {
  background: #959595;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 1.4;
  border-radius: 50%;
  position: relative;
  bottom: 5px;
}

.wrap-home {
  font-size: 13px;
  background-image: linear-gradient(to bottom, #0282f9 0%, #0282f9 50%, #ffffff 50%, #ffffff 100%);
}
.wrap-home .general-hero {
  height: 390px;
  background-image: url("../images/bg-hero-home.jpg");
  background-size: cover;
  background-position: center;
}
.wrap-home .general-hero img {
  position: relative;
  top: 140px;
  left: 150px;
}

.comics {
  background: #000000;
  margin-left: 5px;
  position: relative;
}
.comics .container {
  position: relative;
  padding-bottom: 30px;
}
.comics .container h1 {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 30px;
  background: #0282f9;
  width: 201px;
  position: absolute;
  top: -71px;
  left: 50px;
  border-left: 1px solid #4c6c89;
}
.comics .container .comics-list {
  padding: 15px 50px 30px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 2rem;
}
.comics .container .comics-list img {
  max-width: 100%;
}
.comics .container .comics-list h3 {
  font-size: 14px;
}
.comics .container .btn-comics {
  text-align: center;
}
.comics .container .btn-comics a {
  background: #0282f9;
  font-weight: 700;
  padding: 10px 60px;
}
.comics .comics-panel {
  background: #0282f9;
}
.comics .comics-panel .container {
  padding-bottom: 0;
}
.comics .comics-panel .container ul {
  justify-content: space-between;
  padding: 50px 100px;
}
.comics .comics-panel .container ul li a {
  display: flex;
  height: 45px;
}
.comics .comics-panel .container ul li a img {
  width: 40px;
  max-width: 100%;
  margin-right: 10px;
}
.comics .comics-panel .container ul li a p {
  font-weight: bold;
}

.details {
  padding: 0 150px 0 100px;
}
.details .details-info {
  width: 65%;
  padding: 20px 40px 0 180px;
}
.details .details-info h1 {
  color: #003f5e;
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 30px;
}
.details .details-info .availability {
  background: #55ba59;
  font-size: 15px;
  justify-content: space-between;
  margin-bottom: 30px;
  border-bottom: 2px solid #357739;
}
.details .details-info .availability .left {
  flex-basis: 70%;
  justify-content: space-between;
  padding: 20px;
}
.details .details-info .availability .left p {
  margin: 0;
  text-transform: uppercase;
}
.details .details-info .availability .right {
  flex-basis: 30%;
  justify-content: flex-center;
  padding: 20px;
  border-left: 1px solid #357739;
}
.details .details-info .availability .right span {
  margin-right: 10px;
}
.details .details-info .text {
  font-size: 16px;
  font-weight: bold;
}
.details .details-info .text p {
  color: #555555;
  line-height: 1.5;
}
.details .advertisement {
  width: 35%;
  margin-top: 30px;
  padding-right: 90px;
}
.details .advertisement h3 {
  color: #262626;
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.details .advertisement img {
  max-width: 100%;
}